.commentlist{
    border-top: 1.5px solid rgb(201, 190, 190);
    padding: 20px 20px;


}
body{
    /* background-color: blue; */
}
.commentlist-chat-icon{
    width:40px;
    margin-right: 26px;
}
.commentlist button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.commentlist-icon{
  font-weight: bold;
  padding-bottom: 10px;
   
}

.commentlist-user1-icon{
    width:35px;
    margin-right: 10px;
}
.commentlist-comment-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.commentlist-comment-body{
    padding: 30px 0px;

}
.commentlist-user-name{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
}

