/* .post-user-icon{
    width: 150px;
    margin-right: 20px;
} */
/* .post-user-details{ */
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center ;
    background-color: rgb(217, 232, 236);
    font-size: 25px;
    padding-left: 20px; */
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
} */
/* .padding-bottom-6{
    padding-bottom: 6px;
    font-weight: bold;
} */
/* 
@media(max-width:768px){
    .post-user-icon{
        width: 150px;
        margin-right: 7px;
    }
    .post-user-details{
        font-size: 18px;
        margin-right: 0px;
    }

} */


.user-icon1{
    width: 50px;
    margin-right: 30px;
 
}
.user-detail{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center; 
   
}
.padding-bottom-6{
    padding-bottom: 6px;
    font-weight: bold;
}

