.user{
    width:80%;
    border:1px solid black;
    margin:auto;
    margin-top:30px;
    /* padding-bottom: 20px; */
}
.item-heading-1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.item-heading-company{
    display: flex;
    /* flex-wrap: wrap; */
    margin:auto 10px;
    margin-top: 5px;
    

}
.userdetails-user-heading{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userdetails-user-icon{
    width:40%;
   
}
.placeholder-icon{
    width: 20px;
    margin-right:3px ;

}

.suitcase-icon{
    width: 20px;
    margin-right:3px ;
    /* margin-top: 11px;  */

}
.userdetails-contact{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    /* border-bottom: 1px solid black; */
    
   
}
.item{
   flex: 1;
   height: 90px;
   text-align: center;
}


.item-1,.item-2{
    border-right:1px black solid;
    
}

.phone-icon,.email-icon{
    width: 40px;
    margin-bottom: 5px;

}
.internet-icon{
    width: 36px;
    margin-bottom: 7px;
}

@media(max-width:786px)
{
    .userdetails-contact{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 40px;
        border-top: 1px solid black;
       
       
        
       
    }
    .item{
      margin:20px;
      
     
    }
    .item-1,.item-2,.item-3{
        width: 80%;
        border-right:none;
        display: flex;
        flex-direction: row;
        
    }


.phone-icon,.email-icon,
.internet-icon{
    width: 36px;
    margin-bottom: 7px;
    margin-right: 40px;
  
}
.suitcase-icon,.placeholder-icon{
    width: 20px;
    height: 20px;
    margin-right:3px ;
    /* margin-top: 11px;  */

}
}
@media(max-width:400px){
    h2{
        font-size: 18px;
    }
    .user{
        width:95%;
    }
}